In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
from scipy.stats import zscore
import math
from sklearn.impute import KNNImputer

In [3]:
data = pd.read_csv('customer.csv')

# The Unnamed: 0 column resulted from saving the csv file
data.drop('Unnamed: 0', axis=1, inplace=True) 
 
# Replace the null values in the 'is_employed' column with 'False' (empty means no employment)
data.fillna({'is_employed': 'False'}, inplace=True)

data['recent_move_b'] = data['recent_move_b'].apply(lambda x: True if x == 'T' else False)

data['is_employed'] = data['is_employed'].apply(lambda x: True if x == 'True' else False)

data.drop('custid', axis=1, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72458 entries, 0 to 72457
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             72458 non-null  object
 1   is_employed     72458 non-null  bool
 2   income          72458 non-null  float64
 3   marital_status  72458 non-null  object
 4   health_ins      72458 non-null  bool
 5   housing_type    70772 non-null  object
 6   num_vehicles    70772 non-null  float64
 7   age             72458 non-null  int64
 8   state_of_res    72458 non-null  object
 9   code_column     72458 non-null  int64
 10  gas_usage       70772 non-null  float64
 11  rooms           72458 non-null  int64
 12  recent_move_b   72458 non-null  bool
dtypes: bool(3), float64(3), int64(3), object(4)
memory usage: 5.7+ MB

In [4]:
# In the dictionary, we are indicated that the values 1, 2, 3 indicate special cases which we decided to separate
data['gas_payment'] = data['gas_usage'].replace([x for x in data['gas_usage'] if x not in [1, 2, 3]], 0)
data['gas_bill'] = data['gas_usage'].replace([x for x in data['gas_usage'] if x in [1, 2, 3]], 0)

data.drop('gas_usage', axis=1, inplace=True)

In [5]:
# Print the columns with missing values
print(f' --- PRE CLEANING --- \nColumns with missing values: \n{data.isna().sum()}')
old_len = len(data)
print('Length of the dataframe: ', old_len)   

# Drop rows with missing values except age column
data.dropna(inplace=True)


print(f'\n --- POST CLEANING --- \nLength of the dataframe: {len(data)}')
print('Number of rows dropped: ', old_len - len(data))

 --- PRE CLEANING ---
Columns with missing values:
sex                  0
is_employed          0
income               0
marital_status       0
health_ins           0
housing_type      1686
num_vehicles      1686
age                  0
state_of_res         0
code_column          0
rooms                0
recent_move_b        0
gas_payment          0
gas_bill          1686
dtype: int64
Length of the dataframe:  72458

 --- POST CLEANING ---
Length of the dataframe: 70772
Number of rows dropped:  1686

In [6]:
data['age'] = data['age'].replace(0, np.nan)

In [7]:
scaling_cols = ['income', 'gas_payment']

scaling_df = data[scaling_cols]


# Dataset with log scaling
data_log = data.copy()
data_log[scaling_cols] = np.log1p(scaling_df)

# Dataset with zscore scaling
data_zs = data.copy()
data_zs[scaling_cols] = scaling_df.apply(zscore)

data_mm = data.copy()

dfs = [data_mm, data_log, data_zs]

for i, df in enumerate(dfs):
    numerical_cols = df.select_dtypes(include=[np.number])
    numerical_cols.drop('age', axis=1, inplace=True)
    cols = (numerical_cols-numerical_cols.min())/(numerical_cols.max()-numerical_cols.min())
    df[numerical_cols.columns] = cols
    dfs[i] = df


dfs = [data] + dfs

c:\Users\castr\anaconda3\envs\IAP2\Lib\site-packages\pandas\core\internals\blocks.py:393: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

In [8]:
from sklearn.preprocessing import OneHotEncoder

encoders = []

for i, df in enumerate(dfs):
    categorical_cols = df.select_dtypes(include=[object])
    if categorical_cols.empty:
        continue

    encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
    encoded_array = encoder.fit_transform(categorical_cols)
    encoded_df = pd.DataFrame(
        encoded_array,
        columns=encoder.get_feature_names_out(categorical_cols.columns),
        index=df.index
    )
    
    df.drop(columns=categorical_cols.columns, inplace=True)
    df = pd.concat([df, encoded_df], axis=1)
    encoders.append(encoder)
    dfs[i] = df

In [9]:
dfs[3].head()

,is_employed,income,health_ins,num_vehicles,age,code_column,rooms,recent_move_b,gas_payment,gas_bill,...,state_of_res_South Dakota,state_of_res_Tennessee,state_of_res_Texas,state_of_res_Utah,state_of_res_Vermont,state_of_res_Virginia,state_of_res_Washington,state_of_res_West Virginia,state_of_res_Wisconsin,state_of_res_Wyoming
0,False,0.022866,True,0.000000,24.0,0.103726,0.4,False,0.0,0.368421,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,0.023815,True,0.000000,82.0,0.103726,1.0,True,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,False,0.022075,True,0.333333,31.0,0.103726,0.4,False,0.0,0.070175,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,0.035343,True,0.166667,93.0,0.103726,0.2,False,0.0,0.210526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,0.036316,True,0.333333,67.0,0.103726,0.2,False,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
dfs[2].head()

,is_employed,income,health_ins,num_vehicles,age,code_column,rooms,recent_move_b,gas_payment,gas_bill,...,state_of_res_South Dakota,state_of_res_Tennessee,state_of_res_Texas,state_of_res_Utah,state_of_res_Vermont,state_of_res_Virginia,state_of_res_Washington,state_of_res_West Virginia,state_of_res_Wisconsin,state_of_res_Wyoming
0,False,0.711953,True,0.000000,24.0,0.103726,0.4,False,0.0,0.368421,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,0.715735,True,0.000000,82.0,0.103726,1.0,True,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,False,0.708641,True,0.333333,31.0,0.103726,0.4,False,0.0,0.070175,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,0.750436,True,0.166667,93.0,0.103726,0.2,False,0.0,0.210526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,0.752717,True,0.333333,67.0,0.103726,0.2,False,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
for i, df in enumerate(dfs):
    imputer = KNNImputer(n_neighbors=5)
    imputed_data = imputer.fit_transform(df)
    age = np.round(imputed_data[:, 4]) # Rounds to the nearest integer
    df['age'] = (age - age.min())/(age.max()-age.min()) # Min-Max scaling
    dfs[i] = df

In [23]:
dfs[1][dfs[1].isna().any(axis=1)]

Empty DataFrame
Columns: [is_employed, income, health_ins, num_vehicles, age, code_column, rooms, recent_move_b, gas_payment, gas_bill, sex_Female, sex_Male, marital_status_Divorced/Separated, marital_status_Married, marital_status_Never married, marital_status_Widowed, housing_type_Homeowner free and clear, housing_type_Homeowner with mortgage/loan, housing_type_Occupied with no rent, housing_type_Rented, state_of_res_Alabama, state_of_res_Alaska, state_of_res_Arizona, state_of_res_Arkansas, state_of_res_California, state_of_res_Colorado, state_of_res_Connecticut, state_of_res_Delaware, state_of_res_District of Columbia, state_of_res_Florida, state_of_res_Georgia, state_of_res_Hawaii, state_of_res_Idaho, state_of_res_Illinois, state_of_res_Indiana, state_of_res_Iowa, state_of_res_Kansas, state_of_res_Kentucky, state_of_res_Louisiana, state_of_res_Maine, state_of_res_Maryland, state_of_res_Massachusetts, state_of_res_Michigan, state_of_res_Minnesota, state_of_res_Mississippi, state_of_res_Missouri, state_of_res_Montana, state_of_res_Nebraska, state_of_res_Nevada, state_of_res_New Hampshire, state_of_res_New Jersey, state_of_res_New Mexico, state_of_res_New York, state_of_res_North Carolina, state_of_res_North Dakota, state_of_res_Ohio, state_of_res_Oklahoma, state_of_res_Oregon, state_of_res_Pennsylvania, state_of_res_Rhode Island, state_of_res_South Carolina, state_of_res_South Dakota, state_of_res_Tennessee, state_of_res_Texas, state_of_res_Utah, state_of_res_Vermont, state_of_res_Virginia, state_of_res_Washington, state_of_res_West Virginia, state_of_res_Wisconsin, state_of_res_Wyoming]
Index: []

[0 rows x 71 columns]

## Algorithms

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix


# Initialize models to be evaluated
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC()
}

dfs1 = dfs[2:]


# Loop through the list of DataFrames
for idx, data in enumerate(dfs1):
    print(f"\nProcessing dataset {idx}...")
    
    # Assuming the target column is named 'target', adjust as necessary
    X = data.drop(columns=['health_ins'])
    y = data['health_ins']

    print(X.isna().sum())
    
    # Split into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # Standardize the features (optional, good practice for SVM, Logistic Regression)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)
    
    # Evaluate each model
    for model_name, model in models.items():
        print(f"  Training {model_name}...")
        model.fit(X_train, y_train)
        print()
        y_pred = model.predict(X_test)
        print(classification_report(y_test, y_pred))

        print(confusion_matrix(y_test, y_pred))

Processing dataset 0...
is_employed                    0
income                        45
num_vehicles                   0
age                            0
code_column                    0
                              ..
state_of_res_Virginia          0
state_of_res_Washington        0
state_of_res_West Virginia     0
state_of_res_Wisconsin         0
state_of_res_Wyoming           0
Length: 70, dtype: int64
  Training Logistic Regression...

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values